html,
body,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.content {
  width: 70%;
  margin: 0 auto;
  background-color: black;
  height: 100%;
  padding: 20px;
  position: relative;
  max-width: 600px;
  min-width: 500px;
  top: 58px;
  color: gray;
  font-family: Helvetica, sans-serif;
  line-height: 1.2em;
}

ul {
  display: inline-block;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper {
  opacity: .8;
}

.header {
  text-align: center;
  background-color: black;
  padding: 15px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: white;
  position: relative;
  top: 58px;
}

.nav {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1;
}

h1 {
  opacity: 1;
  padding-bottom: 10px;
  border-bottom: 1px double white;
}

body {
  background-image: url(http://images2.alphacoders.com/152/152152.jpg);
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.opening {
  width: 100%;
}

.option {
  text-align: center;
  background-color: gray;
  opacity: .9;
  font-family: helvetica, sans-serif;
  font-weight: bolder;
  width: 100%;
  line-height: 2em;
}

h3 {
  color: red;
}